<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasa Divina - Cadastro</title>
    <link rel="shortcut icon" href="../static/img/icon-brasa.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>

        <div class="limitador">
            <a href="index.html"><img src="../static/img/Logo-brasa_divina.svg" alt="Logo brasa divina" class="logo"></a>
            <nav>
                <h2><a href="" class="icone"> <img src="../static/img/icon-menu.svg" alt=""> </a></h2>
                <ul class="menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="aboutUs.html" class="special2">Sobre nós</a></li>
                    <li><a href="assemblePizza.html" class="special">Monte sua pizza</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="container-register">
            <div class="register-page">
                <h1>Seja bem vindo(a)!</h1>
                <form action="" method="post">
                    <div class="alignment-inputs">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" id="name-register">
                    </div>

                    <div class="email-and-password">
                        <div class="alignment-inputs">
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" id="email-register">
                        </div>
                        <div class="alignment-inputs">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" id="senha-register">
                        </div>
                    </div>

                    <div class="cep-and-cmp">
                        <div class="alignment-inputs">
                            <label for="cep">CEP:</label>
                            <input type="text" name="cep" id="cep-register">
                        </div>
                        <div class="alignment-inputs">
                            <label for="complemento">Complemento:</label>
                            <input type="text" name="complemento" id="complemento-register">
                        </div>
                    </div>
                    <button type="submit" name="button-register" class="login-register">Cadastrar</button>
                    <a href="login.html">Já tem cadastro? Faça login agora mesmo!</a>
                </form>
            </div>
        </section>
    </main>
</body>

<script src="../static/js/menu.js"></script>

</html>